html, body {
    background-color: black;
    margin: 10px;
    padding: 0;
  }
  canvas {
    display: block;
  }

  body{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  